<%= form_for @post do |f| %>

  <% if @post.errors.any?%>

    <p>
    <%= pluralize(@post.errors.count, "error")%>
    prevent this post from saving
    </p>
    <ul>
      <% @post.errors.full_messages.each do |msg|%>
      <li>
        <%= msg %>
      </li>
      <% end %>
    </ul>

  <% end %>


<div class="form-group">
  <label for="exampleFormControlInput1">Título</label>
  <%= f.text_field :title %>
</div>

<div class="form-group">
  <label for="exampleFormControlTextarea1">Cuerpo</label>
  <%= f.text_area :body%>
</div>

<%= f.button "Crear post"%>
<% end %>