<div class="container">
<%= render 'layouts/alerts' %>
  <div class="row">
    <div class="col-sm-8 offset-2 mt-5 pt-5">
    <h1 class="my-4"><%= title%></h1>


      <%= form_for @post do |f| %>
        <% if @post.errors.any?%>
          <div class="alert alert-danger">
          <p><strong>
            <%= pluralize(@post.errors.count, "error(es)")%>
            impide(n) que este post sea guardado
            </strong>
          </p>
          <ul>
            <% @post.errors.full_messages.each do |msg|%>
            <li>
              <%= msg %>
            </li>
            <% end %>
          </ul>
          </div>
        <% end %>

        <div class="form-group">
          <label for="exampleFormControlInput1" class="my-4"><strong>Título:</strong></label>
          <%= f.text_field :title, class:"form-control input-lg" %>
        </div>
        <div class="form-group my-5">
          <label for="exampleFormControlTextarea1"><strong>Descripción:</strong></label>
          <div class="form-group">
          <%= f.text_area :body, class:"form-control input-lg"%>
          </div>
        </div>
        <br>
        <br>
        <div class="text-right">
        <%= f.submit form_title, class:"btn btn-info"%>
        </div>
        <br>
        <br>
        <br>
      <% end %>
    </div>
  </div>
</div>